@model AnnouncementUpdateDto
@{
    ViewData["Title"] = "UpdateAnnouncement";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Update Announement</h1>

<form method="post">
    <input type="hidden" asp-for="AnnouncementID" />
    <label>Announement</label>
    <input type="text" asp-for="Title" class="form-control" />
    <br />
    <label>Announement Content</label>
    <input type="text" asp-for="Content" class="form-control" />
    <br />
    <button class="btn btn-outline-primary">Update Announement</button>
</form>