
@{
    ViewData["Title"] = "GetCityDestID";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Get by City ID</h2>
<br /><br />

      <form method="post">
          <label>City</label>
          <input type="text" class="form-control" name="p" />
          <br />
          <button class="btn btn-outline-primary">Get by City ID</button>
      </form>